#root {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
.profile_container{
  position: relative;
display: block;
z-index: 999;
}
.profile_container::after{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-image: url(assets/Bg-icons.png);
  background-size: cover;
  background-position: center;
  mix-blend-mode:soft-light ;
  opacity: 0.3;
z-index: -1;
  
}