#root {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
.name-container{
  display: flex;
  gap: 15px;
}
.container{
  height: 90vh;
  width: 100%;
  
}
.card_container{
  height: 500px;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
}
.card_image{
  height: 300px;
  width: 100%;
}
.card_image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.card_info{
  padding: 10px;
}
